
/dev/mapper/{{ inventory_hostname }}_{{ luks_syspart_name}}  /            btrfs  rw,relatime,compress=zstd:3,space_cache,subvolid=257,subvol=@           0 0

/dev/mapper/{{ inventory_hostname }}_{{ luks_syspart_name}}  /home        btrfs  rw,relatime,compress=zstd:3,space_cache,subvolid=258,subvol=@home       0 0

/dev/mapper/{{ inventory_hostname }}_{{ luks_syspart_name}}  /.snapshots  btrfs  rw,relatime,compress=zstd:3,space_cache,subvolid=259,subvol=@snapshots  0 0

{{ swap_part }}                                              none         swap   defaults                                                                0 0
